---
layout: default
title: Feliz La Vida
---
<script>
$(function() {
  var display = 8;
  var _callback = '_callback';

  var settingSummary = function(oid, aid) {
    var summaryUrl = 'https://tts.news.naver.com/article/' + oid + '/' + aid + '/summary';
    $.ajax({
        url: summaryUrl,
        crossDomain: true,
        type: 'GET'
      }).done(function(data) {
        if (data) {
          var summary = (data.error_msg == 'null') ? data.summary : data.error_msg;  
          $('div.prev-article').html(summary + "<br /><br />");
        }
      });
  }

  $.ajax({
    url: "https://script.google.com/macros/s/AKfycbxD9vPPd6fw10H_VQzTteS7k91J_5A092LhEtQrg35UVx3cWpg/exec?display=" + display + '&callback=' + _callback,
    crossDomain: true,
    dataType: 'jsonp',
    type: 'GET',
    jsonpCallback: _callback
  }).done(function(data) {
    if (data && data.result && data.result.recommend) {
      // var random = Math.floor(Math.random()*display) + 1; 
      var divArticle = '<div class="article" style="display:;">[{0}] <a href="{2}">{1}</a></div>';
      data.result.recommend.forEach(function(v, i, a) {
        //settingSummary(v.url.match(/oid=([^&]+)/)[1], v.url.match(/aid=([^&]+)/)[1]);
        $('span.article').append(divArticle.replace('{0}', v.office_name).replace('{1}', v.title).replace('{2}', v.url));
      }

/*
      $('span.article').click(function(){
        $('div.prev-article').toggle();
      });
*/
    } else {
      console.log('empty recommend articles');
    }
  });
});
</script>
<div class="posts">
  <span class="post-date article"></span>
  <div class="prev-article" style="display:none;"></div>
</div>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
       {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    
    {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>