---
layout: default
title: Feliz La Vida
---
<div class="posts">
  <span class="post-date article"></span>
  <div class="prev-article" style="display:none;"></div>
</div>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
       {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    
    {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
<script>
$(function() {
  var display = 64;
  var _callback = '_callback';

  var settingSummary = function(oid, aid) {
    var summaryUrl = 'https://tts.news.naver.com/article/' + oid + '/' + aid + '/summary';
    $.ajax({
        url: summaryUrl,
        crossDomain: true,
        type: 'GET'
      }).done(function(data) {
        if (data) {
          var summary = (data.error_msg == 'null') ? data.summary : data.error_msg;  
          $('div.prev-article').html(summary + "<br /><br />");
          $('div.prev-article').show();
        }
      });
  }

  var refresh = function() {
    $('div.prev-article').hide();
    $('div.prev-article').html('');
    $('span.article div').filter('.article').css('display', 'none');
    var random = Math.floor(Math.random()*display) + 1; 
    $($('div.article').toArray()[random-1]).toggle();
  }

  $.ajax({
    url: "https://script.google.com/macros/s/AKfycbxD9vPPd6fw10H_VQzTteS7k91J_5A092LhEtQrg35UVx3cWpg/exec?display=" + display + '&callback=' + _callback,
    crossDomain: true,
    dataType: 'jsonp',
    type: 'GET',
    jsonpCallback: _callback
  }).done(function(data) {
    if (data && data.result && data.result.recommend) {
      $('span.article').append("<img class=\"refresh\" src=\"{{ '/assets/img/refresh-flat.png' }}\" width=\"30\" height=\"30\" style=\"float:left;margin-top: 0px; margin-bottom: 0px; margin-right: 5px;\" />");
      $('img.refresh').click(refresh);

      var divArticle = '<div class="article" style="display:none;">[{0}] <a href="javascript:;">{1}</a></div>';
      data.result.recommend.forEach(function(v, i, a) {
        var el = $(divArticle.replace('{0}', v.office_name).replace('{1}', v.title));
        $('span.article').append(el);
        var oid = v.url.match(/oid=([^&]+)/)[1];
        var aid = v.url.match(/aid=([^&]+)/)[1];
        el.click(function() {
          if ($('div.prev-article').css('display') == 'none') {
            settingSummary(oid, aid);
          } else {
            $('div.prev-article').hide();
          }
        });
      });

      refresh();
    } else {
      console.log('empty recommend articles');
    }
    
  });

});
</script>