<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.title == "Feliz La Vida" %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}

  <title>
    {% if page.title == "Feliz La Vida" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/apple-touch-icon.png" | relative_url }}">

  <!-- Jquery -->
  <script src="{{ site.baseurl }}/assets/jquery-3.3.1.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js"></script>
  <script type="text/javascript">
    anchors.options.placement = 'left';
    anchors.add('h2');
  </script>
  {% if site.google_analytics %} {% include google_analytics.html %} {% endif %}
  {% if page.comments %}{% include disqus_comments.html %}{% endif %}

  <script type="text/javascript">
    // style="text-decoration: underline;font-weight: bold;"
    $(function() {
      var url = $(location).attr('href');
      var path = $('<a>', {href: url}).prop('pathname');
      $.each(path.split("/"), function(i, v) {
        if (i == 1) {
          $.each($('div.nav-container ul li'), function(index, value) {
            $(value).css('text-decoration', '');
            $(value).css('font-weight', '');
            if (path.indexOf($(value).find('a').attr('href')) != -1) {
              $(value).css('text-decoration', 'underline');
              $(value).css('font-weight', 'bold');
            }
          });
        }  
      });
    });

  </script>
</head>